<?xml version="1.0"?>

<model>
  <name>turtlebot3_brown3</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>
  <!--<sdf version="1.5">model.sdf</sdf>  -->

  <author>
    <name>Tristan Hill</name>
    <email>thill@tntech.edu</email>
  </author>

  <description>
    World of TurtleBot3 in Brown Hall 3rd floor
  </description>
</model>
